<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org"
      th:fragment="FooterFragment">
<head>

</head>
<body>
<div id="myFooter">
    <hr>
    <footer>
        <div class="container">
            <div class="row justify-content-end">
                <div class="col-auto">
                    <button type="button" class="btn btn-secondary">About Us</button>
                    <button type="button" class="btn btn-secondary">Contact</button>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>