<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org"
      th:fragment="InsuranceBanner">
<head>

</head>
<body>
<div class="sub" id="container">
    <nav class="subNav">
        <ul class="subGNB desktop1280">
            <li class="menuViewBtn">
                <a href="javascript:void(0)">보험</a>
                <ul class="subGNBD2">
                    <!--가족 보장 서브 메뉴-->
                    <li class="subM ">
                        <a href="javascript:void(0)">가족 보장</a>
                        <ul class="subMenu" >
                            <li >
                                <a href="#">사망</a>
                            </li>
                            <li >
                                <a href="#">후유장해</a>
                            </li>
                            <li >
                                <a href="#">간병</a>
                            </li>
                        </ul>
                    </li>

                    <!--의료 보장 서브 메뉴-->
                    <li class="subM ">
                        <a href="javascript:void(0)">의료 보장</a>
                        <ul class="subMenu" >
                            <li >
                                <a href="#">실손의료</a>
                            </li>
                            <li >
                                <a href="#">수술</a>
                            </li>
                            <li >
                                <a href="#">입원 일당</a>
                            </li>
                            <li >
                                <a href="#">상해진단</a>
                            </li>
                            <li >
                                <a href="#">치아</a>
                            </li>
                        </ul>
                    </li>

                    <!--큰병 보장 서브 메뉴-->
                    <li class="subM ">
                        <a href="javascript:void(0)">큰병 보장</a>
                        <ul class="subMenu" >
                            <li >
                                <a href="#">암 진단</a>
                            </li>
                            <li >
                                <a href="#">뇌 질환</a>
                            </li>
                            <li >
                                <a href="#">신장 질환</a>
                            </li>
                        </ul>
                    </li>

                    <!--생활 보장 서브 메뉴-->
                    <li class="subM ">
                        <a href="javascript:void(0)">생활 보장</a>
                        <ul class="subMenu" >
                            <li >
                                <a href="#">운전자</a>
                            </li>
                            <li >
                                <a href="#">배상 책임</a>
                            </li>
                            <li >
                                <a href="#">재물</a>
                            </li>
                        </ul>
                    </li>

                    <!--보험과 세금 서브 네뮤-->
                    <li class="subM ">
                        <a href="javascript:void(0)">보험과 세금</a>
                        <ul class="subMenu" >
                            <li >
                                <a href="#">사망</a>
                            </li>
                            <li >
                                <a href="#">후유장해</a>
                            </li>
                            <li >
                                <a href="#">간병</a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </li>
        </ul>

        <ul class="menuViewSet subGNBD2">
            <li class="menuClose"><a href="#"><span class="blind">보험</span></a></li>
            <li><a href="#">가족 보장</a></li>
            <li><a href="#">의료 보장</a></li>
            <li><a href="#">큰병 보장</a></li>
            <li><a href="#">생활 보장</a></li>
            <li><a href="#">보험과 세금</a></li>
        </ul>
    </nav>
</div>
</body>
</html>