<!DOCTYPE html>
<html lang="utf-8" xmlns:th="http://www.thymeleaf.org"
      th:fragment="QuestionnaireBanner">
<head>

</head>
<body>
<!--leftMenu-->
<div class="sub" id="container">
    <nav class="subNav">
        <ul class="subGNB desktop1280">
            <li class="menuViewBtn">
                <a href="javascript:void(0)">설문지 양식</a>
                <ul class="subGNBD2">
                    <!--설문지 양식 서브 메뉴-->
                    <li class="subM ">
                        <a href="javascript:void(0)">일반 설문지</a>
                    </li>
                    <!--의료 보장 서브 메뉴-->
                    <li class="subM ">
                        <a href="javascript:void(0)">간편 설문지</a>
                    </li>
                    <!--큰병 보장 서브 메뉴-->
                    <li class="subM ">
                        <a href="javascript:void(0)">치아 설문지</a>
                    </li>

                </ul>
            </li>
        </ul>

        <ul class="menuViewSet subGNBD2">
            <li class="menuClose"><a href="#"><span class="blind">설문지 양식</span></a></li>
            <li><a href="#">일반 설문지</a></li>
            <li><a href="#">간편 설문지</a></li>
            <li><a href="#">치아 설문지</a></li>
        </ul>
    </nav>
</div>
</body>
</html>