<!DOCTYPE html>
<html lang="UTF-8" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/layout}"
      layout:fragment="Content">
<head></head>
<body>

    <!-- content -->
    <div class="container">
        <p><a href="#" class="link-underline-dark">John Doe's insurances</a></p>
        <p><a href="#" class="link-underline-dark">John Doe's investments</a></p>
    </div>

    <div class="container">
        <div class="btn-group" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary">Virtual Planning</button>
            <button type="button" class="btn btn-primary">Industry Search</button>
            <button type="button" class="btn btn-primary">Pension Planning</button>
            <button type="button" class="btn btn-primary">Insurance Contract</button>
            <button type="button" class="btn btn-primary">Claiming Insurance</button>
        </div>
    </div>


</body>
</html>